---
import Header from '@partials/Header/index.astro'
import Footer from '@partials/Footer/index.astro'
import siteData from '@data/site'

import '@styles/global.scss'

const content = {
	...siteData,
	...Astro?.props?.content,
}

const { title, description, url, featured, slug = '/' } = content

const className = process?.env?.NODE_ENV === 'development' ? 'development' : ''
---

<style lang="scss">
	main {
		width: 90vw;
		max-width: 1200px;
		margin: 0 auto;
	}

	:global(.development)::before {
		content: 'Mobile';
		position: fixed;
		z-index: 1000;
		top: 0;
		left: calc(50vw - 3em);
		padding: 10px 20px;
		border-radius: 0 0 20px 20px;
		background: #000000;
		color: #ffffff;
		width: 6em;
		text-align: center;
	}

	@media(min-width: 30em) {
		:global(.development)::before {
			content: '30em';
		}
	}

	@media(min-width: 40em) {
		:global(.development)::before {
			content: '40em';
		}
	}

	@media(min-width: 50em) {
		:global(.development)::before {
			content: '50em';
		}
	}

	@media(min-width: 60em) {
		:global(.development)::before {
			content: '60em';
		}
	}

	@media(min-width: 70em) {
		:global(.development)::before {
			content: '70em';
		}
	}

	@media(min-width: 80em) {
		:global(.development)::before {
			content: '80em';
		}
	}

	@media(min-width: 90em) {
		:global(.development)::before {
			content: '90em';
		}
	}
</style>

<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="x-ua-compatible" content="ie=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="theme-color" content="#610023" />
	<link rel="shortcut icon" href="/img/amy-quokka-transparent.png" />

	<title>{title}</title>
	<meta name="description" content={description} />

	<meta property="og:title" content={title} />
	<meta property="og:description" content={description}>
	<meta property="og:image" content={`${url}/${featured || '/img/rottnest-lighthouse-2500.jpg' }`} />
	<meta name="author" content="Amy Kapernick" />
	<meta property="og:url" content={`${url}${slug}`} />

	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="@amys_kapers" />
	<meta name="twitter:creator" content="@amys_kapers" />

	<link rel="stylesheet" href="/a11y_dark.css" />

	<slot name="head" />
</head>

<body class={className}>
	<Header />
	<main>
		<slot />
	</main>
	<Footer />
	<slot name="footer" />
</body>

</html>